/* line 11, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, ../scss/style.scss */
body {
  background: url(../img/tweed.jpg) repeat 0 0 #292727; }

/* line 19, ../scss/style.scss */
h2 {
  color: #ddd;
  font-size: 32px;
  font-weight: normal; }

/* line 29, ../scss/style.scss */
header {
  border-bottom: 1px solid #000;
  background-color: #000;
  border-bottom: 6px solid #1c1c1c;
  height: 130px;
  margin-bottom: 20px; }

/* line 37, ../scss/style.scss */
#chevron {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 12px;
  margin-bottom: 6px;
  height: 90px;
  width: 250px; }
  /* line 45, ../scss/style.scss */
  #chevron span {
    position: relative;
    z-index: 100;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 2px 0 #138041;
    line-height: 50px; }

/* line 57, ../scss/style.scss */
#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #27ae60;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg); }

/* line 74, ../scss/style.scss */
#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #27ae60;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg); }

/* line 92, ../scss/style.scss */
​
.logo-icon {
  background: url(../img/logo-icon.png) no-repeat 0 10px;
  padding: 100px 0 0 150px;
  height: 143px; }

/* line 98, ../scss/style.scss */
.my-name {
  color: #ccc;
  margin-left: 20px; }

/* line 104, ../scss/style.scss */
.site-name {
  font-size: 50%;
  color: #ccc; }

/* line 109, ../scss/style.scss */
.about {
  margin: 20px 0;
  text-align: center; }

/* line 114, ../scss/style.scss */
.intro {
  margin-top: 40px; }

/* line 118, ../scss/style.scss */
.row {
  margin-bottom: 15px; }

/* line 122, ../scss/style.scss */
.display {
  padding: 20px 0; }

/* line 126, ../scss/style.scss */
.module {
  background-color: #262626;
  padding: 10px;
  min-height: 150px;
  box-shadow: 3px 3px 0 #000;
  color: #ddd; }
  /* line 132, ../scss/style.scss */
  .module h2 {
    text-align: center;
    color: #4abeed; }

/* line 138, ../scss/style.scss */
.img-holder {
  width: 100%;
  max-width: 370px;
  height: auto; }

/* line 144, ../scss/style.scss */
.subs {
  border: 0px solid #000;
  padding: 5px; }

/* line 149, ../scss/style.scss */
.box {
  background-color: #ccc;
  height: 30px;
  margin-top: 10px; }

/* line 156, ../scss/style.scss */
.padded-content {
  padding: 5px; }
